//---------------------------------------------------------------
// Button
//---------------------------------------------------------------

.anim-panel__button {
  width: 43px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

//
// Modifiers
//

.anim-panel__button--play-pause {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>play</title><polygon points="20.657 14.5 11 20.157 11 8.843 20.657 14.5" style="fill:#fff"/></svg>');

  &.is-playing {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>pause</title><rect x="10" y="9" width="2" height="11" style="fill:#fff"/><rect x="18" y="9" width="2" height="11" style="fill:#fff"/></svg>');
  }
}

.anim-panel__button--restart {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>restart</title><polygon points="10.343 14.5 20 20.157 20 8.843 10.343 14.5" style="fill:#fff"/><rect x="8" y="9" width="2" height="11" style="fill:#fff"/></svg>');
}

.anim-panel__button--labels {
  background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"> <path fill="#fff" d="M20 20l-5-4-5 4V9h10z"/></svg>');
}

.anim-panel__button--range {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path fill="#fff" d="M11 21h2V8h-2c-.6 0-1 .4-1 1v11c0 .5.4 1 1 1zM19 21h-2V8h2c.6 0 1 .4 1 1v11c0 .5-.5 1-1 1zM7 14h3v1H7zM20 14h3v1h-3z"/><path fill="none" d="M0 0h30v30H0z"/></svg>');
  
  &.is-active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path fill="#{$color-range}" d="M11 21h2V8h-2c-.6 0-1 .4-1 1v11c0 .5.4 1 1 1zM19 21h-2V8h2c.6 0 1 .4 1 1v11c0 .5-.5 1-1 1zM7 14h3v1H7zM20 14h3v1h-3z"/><path fill="none" d="M0 0h30v30H0z"/></svg>');
  }
}

//
// Animations
//

@keyframes active-control {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}