//---------------------------------------------------------------
// Slider
//---------------------------------------------------------------

$slider-track-height: 42px;
$slider-bar-height: 6px;
$slider-track-margins: 18px;

.anim-panel__slider {

}

  .anim-panel__slider-track {
    width: 100%;
    height: $slider-track-height;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: $slider-bar-height;
      left: $slider-track-margins;
      right: $slider-track-margins;
      top: $slider-track-margins;
      background-color: rgba(#fff, 0.3);
      border-radius: 3px;
    }
  }

    .anim-panel__slider-playhead {
      width: $slider-track-height;
      height: $slider-track-height;
      display: block;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: $slider-bar-height;
        height: $slider-bar-height;
        border-radius: 3px;
        background-color: #fff;
        transform-origin: 50% 50%;
        position: absolute;
        left: $slider-track-margins;
        top: $slider-track-margins;
        transition: transform 0.2s;
      }
    }

    .anim-panel__slider-range {
      display: none;

      &.is-active {
        display: block;
      }
    }

    .anim-panel__slider-range-handle {
      width: $slider-bar-height;
      height: 24px;
      display: block;
      position: absolute;
      top: 8px;
      cursor: pointer;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: $slider-bar-height;
        height: 24px;
        background-color: $color-range;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 24px;
        background-color: transparent;
      }

      &:nth-child(1) {

        &:after {
          left: 10px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      &:nth-child(2) {
        right: 0;

        &:after {
          right: 10px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:before {
          right: 0;
        }
      }
    }

    .anim-panel__slider-range-span {
      display: block;
      background-color: $color-range;
      height: $slider-bar-height;
      pointer-events: none;
      position: absolute;
      top: 18px;
      left: $slider-track-margins;
      border-radius: $slider-bar-height / 2;

      & + & {
        left: auto;
        right: $slider-track-margins;
      }
    }


//
// State
//

.anim-panel__slider:hover .anim-panel__slider-playhead:before {
  transform: scale(2.5);
}