.anim-panel {
  position: fixed;
  top: -1px;
  right: 20px;
  width: 300px;
  min-height: 132px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.05);
  padding-left: 40px;
  font-family: "Menlo", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.anim-panel .js-slider {
  margin-top: 8px;
}


/* Controls */

.anim-panel__control-set {
  position: absolute;
  border-right: 1px solid #ddd;
  width: 40px;
  top: 0;
  left: 0;
  height: 100%;
}

.anim-panel__control-button {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.anim-panel__control-button:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.anim-panel__control-button--play {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>play</title><polygon points="20.657 14.5 11 20.157 11 8.843 20.657 14.5" style="fill:#231f20"/></svg>');
}

.anim-panel__control-button--pause {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>pause</title><rect x="10" y="9" width="2" height="11" style="fill:#231f20"/><rect x="18" y="9" width="2" height="11" style="fill:#231f20"/></svg>');
}

.anim-panel__control-button--restart {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><title>restart</title><polygon points="10.343 14.5 20 20.157 20 8.843 10.343 14.5" style="fill:#231f20"/><rect x="8" y="9" width="2" height="11" style="fill:#231f20"/></svg>');
}


/* Time Scale */

.anim-panel__timescale-set {
  border-bottom: 1px solid #ddd;
}

.anim-panel__timescale-button {
  margin: 0;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  margin-right: -4px;
  width: 24.2%;
  cursor: pointer;
  color: #aaa;
}

.anim-panel__timescale-button + .anim-panel__timescale-button {
  border-left: 1px solid #ddd;
}

.anim-panel__timescale-button:hover {
  color: #000;
}

.anim-panel__timescale-button.is-active {
  color: #000;
}


/* Labels */

.anim-panel__labels {
  padding: 13px 12px;
  padding-top: 0;
  border-bottom: 1px solid #ddd;
}

.anim-panel__labels > p {
  margin-bottom: 0;
  color: #aaa;
}

.anim-panel__labels > button {
  margin-top: 13px;
}

.anim-panel__labels > button + button {
  margin-left: 8px;
}


/* Slider */

.anim-panel__slider-set {
  position: relative;
  padding-right: 60px;
  height: 42px;
}

.anim-panel__slider-set-slider {
  padding: 8px 15px 0;
}

.anim-panel__slider-set-time {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #ddd;
  width: 60px;
  margin: 0;
}

.anim-panel__slider-set-time > p {
  margin: 0;
  margin-top: 14px;
  margin-left: 9px;
}